/*
COLORS:
Light green: #7ed56f
rgba(123, 213, 111, 0.8)
Medium green: #55c57a
Dark green: #28b485
rgba(40, 180, 131, 0.8)
*/

//color vars
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #42b38d;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
